    /* START GLOBAL  */
*{box-sizing: border-box; }
body{font-family: 'Cairo', sans-serif ; height: 2000px; }
img {max-width: 100%;}
:root {
    --mainColor:#ec3454;
    --mainColor2:#ff4057;
    --mainColor3:#240041;
}
a { text-decoration: none; background-color: inherit; color: inherit;}
a:hover{background-color: inherit; color: inherit; text-decoration: none;}
.card {
    margin: 20px 0 ;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    position: relative;
}
.card .fa-times-circle {
    position: absolute;
    top: 12px;
    right: 12px;
}
.card h4 {color: var(--mainColor2); font-weight: bold;}
.card .card-text {font-size: 13px ;color: #7c7c7c;}
.card p {color: var(--mainColor2); font-size: 20px; font-weight: bold; margin-right:8px ;}
.card .btn {
    background-image: url(../imgs/rest-bg.jpg);
     background-size: contain;
     padding: 10px 70px ;
     border-radius: 10px;
     color: white;
     border: 0; 
     outline: 0;
}
.card .icon img {height: 40px;}
.card .icon p {margin-top: 5px ;}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-even {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn:focus{outline: 0; border: 0; box-shadow: none;}
.form-control:focus{outline: 0; border:0; box-shadow: none;}

.three-stars{color: var(--mainColor2);}
.two-stars{color: var(--mainColor3);}
    /* END GLOBAL  */
    /* START SOFRA RESTURANT PAGE  */
    /* START UPPER NAV   */
.navbar .dropdown{display: flex;align-items: center;}
.navbar .dropdown .dropdown-item i {color:#300e4c;}
.navbar .dropdown .dropdown-item  {color:#725b84 ;}
.navbar .dropdown-toggle::after{display:none;}
.navbar  i {color: var(--mainColor);}
.navbar .dropdown-menu i {color: initial; margin-left: .5rem;}
.navbar .form-edit  {position: relative;}
.navbar .form-edit .form-control{
    width: 100%;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
}
.navbar .form-edit button  {
    position: absolute;
    left: 10px;
    background-color: inherit;
    border: 0;
    outline: 0;
    padding: 0;
}
.navbar img {width: 120px;}
.navbar .navbar-nav {text-align: left; padding: 10px;}
.navbar .dropleft button { 
      border: none;
      outline: 0;
      background-color: inherit;
}
.navbar .dropleft .dropdown-toggle::before{display: none;}
.navbar-light .navbar-toggler-icon{background-image: none;}
.navbar-light .navbar-toggler{border:none;outline: 0;}
    /* END NAV BAR   */
    /* START HEADER  */
header{
    background-image: url(../imgs/rest-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .kfc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .kfc img {width: 250px ;}
header .kfc  p {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}
header .kfc ul {
    background-color:#fff ;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
}
header .kfc ul li i {margin-right: 15px;font-size: 30px;}
    /* END HEADER  */
    /* START MEALS OFFER  */
.meal-offers {background-image: url(../imgs/favor-bg.png);background-size: cover;}
    /* START FOOTER  */
footer {
    background-image:url(../imgs/footerbg.png);background-size: cover;color: #fff;}
footer .footer-right-side h4 {display: inline-block; margin: 20px 0;}
footer .footer-right-side img {width: 35px; margin: 20px 5px 20px 5px ;}
footer .footer-right-side p{margin: 20px 0 ;}
footer .footer-right-side a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    margin: 30px 15px ;
}
footer .footer-left-side img{width: 300px; margin: 35px 0 80px ;}
    /* END FOOTER  */
    /* START RESTURANT SELLER PAGE   */
.meal-offers .meal-head {
    color: var(--mainColor3);
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.meal-offers .meal-head h2 {font-weight: bold; margin: 30px 0;}
.meal-offers .meal-btn{justify-content: center;align-items: center; }
.meal-offers .meal-btn a {
    background-image: linear-gradient(to bottom, #e32f52, #d42651, #c41d4f, #b5154d, #a50c4a);
    color: #fff;
    padding: 15px 85px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    margin: 20px 0;
    border: 0;
    outline: 0;
}
    /* END RESTURANT SELLER PAGE  */
    /* START MEAL PAGE  */
.meal-details{
    background-image: url(../imgs/meal-bg.jpg);
    background-size: cover;
    background-position: -390px 530px;
    background-repeat: no-repeat;
}
.meal-details .icon {margin: 15px 0;}
.meal-details .icon img {height: 40px ;}
.meal-details .icon p {
    margin: 0 20px ;
    color: var(--mainColor3);
    font-weight: bold;
}
.meal-details .meal-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--mainColor3);
    margin-top: 20px;
}
.meal-details .meal-description img {width: 100%;}
.meal-details .meal-description h3{font-weight: bold;color: inherit;margin: 15px auto;}
.meal-details .meal-description p {color: inherit;font-size: 18px;font-weight: bold;}
.information .add-to-cart a {
    color: #FFF;
    background-image: linear-gradient(to top, #a20a4a, #dc3c50);
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    position: relative;
    width: 330px;
}
.information .add-to-cart a p{display: inline;padding-right: 10px; }
.information .add-to-cart a i{
    position: absolute;
    left: 15px;
    font-size: 71px;
    opacity: 0.5;
    transform: rotate(337deg);
    top: -10px;
}
.information .icon p {
    margin-right: 5px;
    color: var(--mainColor2);
    font-weight: bold;
    margin-top: 5px;
    font-size: 18px;
}
.information .rating {margin-top: 20px;}
.information .rating h4 {
    border-right: 2px solid var(--mainColor3);
    padding: 10px ;
    color: var(--mainColor);
    font-weight: bold;
}
.information .rating span {
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #858585;
}
.information .rating .rating-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e5e5;
    border-radius: 30px ;
    margin: 20px auto;
}
.information .rating .rating-details ul {
    background-color: #fff;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 20px;
    margin: 15px auto;
}
.information .rating .rating-details ul li {margin: 0 3px ;}
.information .rating .rating-details p {
    color: var(--mainColor2);
    margin: 10px 0;
    font-size: 15px;
    padding: 10px;
}
.information .rating .rating-details .p2 {font-weight: bold;font-size: 19px;margin-bottom: 25px;}
.information .add-your-rate h4{
    border-right: 2px solid var(--mainColor3);
    padding: 10px;
    color: var(--mainColor);
    font-weight: bold;
}
.information .add-your-rate div:first-of-type{justify-content: center;}
.information .add-your-rate ul {
    margin-top: -14px;
    padding: 10px 25px;
    border-radius: 30px;
    width:fit-content;
    font-size: 22px;
}
.information .add-your-rate .my-rating-4 {
    background-color: #ececec;
    padding: 10px;
    border-radius: 30px;
    width: fit-content;
    margin: 10px auto;
}
.information .add-your-rate ul li {margin: 0 3px ;}
.information .add-your-rate textarea {
    background-color: #f9f9f9;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    border-radius: 30px;
    box-shadow: 6px 6px 5px 0px rgba(231,231,231,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(231,231,231,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(231,231,231,0.75);
    padding: 40px;
    font-size: 18px;
    font-weight: bold;
}
.information .add-your-rate textarea::placeholder{color: #a8a3a3;}
.information  button {
    background-image: linear-gradient(to bottom, #e32f52, #d42651, #c41d4f, #b5154d, #a50c4a);
    color: #fff;
    padding: 5px 50px;
    border-radius: 30px;
    width: 200px;
    border: 0;
    outline: 0;
    font-size: 22px;
}
.information  button:hover{color: #fff;}
.information h4{
    border-right: 2px solid var(--mainColor3);
    padding: 10px;
    color: var(--mainColor);
    font-weight: bold;
    margin-top: 35px;
}
.more-meals {
    background-image: url(../imgs/meals.jpg);
    background-size: cover;
    padding: 80px 20px 20px ;
    margin: 20px 0 0 0;
}
.more-meals .owl-carousel .image-in {
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
}
.more-meals .owl-carousel .image-in img{max-width: none;width: auto;height: inherit;}
.more-meals .owl-carousel .image-in:hover .overlay a {
    opacity: 0.8;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.more-meals .owl-carousel .overlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-meals .owl-carousel .overlay a {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 79%);
    opacity: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.more-meals .owl-carousel .overlay a p {top: 40%;}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--mainColor);
}
.owl-theme .owl-dots .owl-dot:focus{border: 0;outline: 0;}
.owl-theme .owl-dots .owl-dot span{background-color: var(--mainColor3);}
.owl-theme .owl-dots .owl-dot {zoom: 2;margin: 20px auto;}
    /* END MEAL PAGE  */
    /* START HOME PAGE  */
/* START HEADER  */
.home-page-header {
    background-image: url(../imgs/header.jpg);
    flex-direction: column;
    color: #fff;
}
.home-page-header h1 {
    font-size: 100px;
    color: #fff;
    transform: rotate(345deg);
    font-weight: bold;
    margin-bottom: 60px;
}
.home-page-header h2 {font-weight: bold;margin: 30px 0;}
.home-page-header a {
    background-image: linear-gradient(to top, #a20a4a, #dc3c50);
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    width: 330px;
    text-align: center;
    margin: 40px 0;
}
.home-page-header a img {height: 40px;}
/* END HEADER  */
/* START SEARCH RESTAURANT */
.search-restaurant {
    background-image: url(../imgs/favor-bg.png);
    background-size: cover;
    padding-bottom: 25px 
}
.search-restaurant h3 {padding: 40px 0;font-weight: bold;color: var(--mainColor3);}
.search-restaurant .form-group{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f6f6f6; 
    border-radius: 15px;
    cursor: pointer;
}
.search-restaurant .form-group:focus{outline: 0; border: 0;}
.search-restaurant .form-group .form-control{
    height: calc(3em + .75rem + 2px);
    border-radius: 15px;
    background-color: transparent;  
}
.search-restaurant .form-control:focus{outline: 0; border: 0;}
.search-restaurant .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 10px;
    text-overflow: '';
    position: relative;
    background-color: transparent;
    z-index: 5;
    cursor: pointer;
}
.search-restaurant .f1 i {
    position: absolute;
    left: 40px ;
    z-index: 0;
    color: var(--mainColor);
    font-size: 20px;
}
.search-restaurant .f2 .btn {
    position: absolute;
    left: 25px ;
    z-index: 0;
    color: var(--mainColor);
    font-size: 20px;
}
.search-restaurant .card {height: 28rem;justify-content: space-evenly;}
.search-restaurant .card .avalible p,
.search-restaurant .card .card-info p {font-size: 15px ;color: inherit;}
.search-restaurant .card .card-info ul {font-size: 20px;}
.search-restaurant .card img {height: 150px;}
.search-restaurant .card .avalible i {color: green;font-size: 18px;margin-top: -15px;}
/* END SEARCH RESTAURANT */
/* START OFFERS  */
.offers .offers-left-side {
    background-image: url(../imgs/offers-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}
.offers .offers-left-side p {
    font-size: 25px;
    line-height: 2;
    padding: 0 15px;
    margin: 20px 0 30px ;
}
.offers .offers-left-side .btn {
    background-image: linear-gradient(to top, #a20a4a, #dc3c50);
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
/* END OFFERS  */
/* START DOWNLOAD OUR APP  */
.download-our-app {
    background-image: url(../imgs/app-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}
.download-our-app .app-right-side {flex-direction: column;}
.download-our-app .app-right-side h3 {margin: 20px auto 100px;}
.download-our-app .app-right-side a img {height: 80px;margin-bottom: 120px;}
/* END DOWNLOAD OUR APP  */
/* START REGISTER PAGE  */
.register {
    background-image: url(../imgs/Group\ 1040.png);
    background-size: cover;
}
.register .register-form {
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 1px 1px 25px 3px rgba(228,228,228,0.75);
    -webkit-box-shadow: 1px 1px 25px 3px rgba(228,228,228,0.75);
    -moz-box-shadow: 1px 1px 25px 3px rgba(228,228,228,0.75);
    border-radius: 30px;
}
.register .register-form .form-image {margin: -30px 0 30px ;}
.register .register-form .form-image  img {height: 160px;}
.register .register-form .form-group {margin: 50px;}
.register .register-form .form-group .form-control {
    background-color: #f3f3f3;
    height: calc(3em + .75rem + 2px);
    border-radius: 15px;
    border: 0;
    padding-right: 25px;
    font-size: 18px;
}
.register .register-form .form-group .form-control::placeholder{
    font-weight: bold;
    color: #b6abbe;
}
.register .register-form a {
    color: var(--mainColor);
    font-weight: bold;
    font-size: 18px;
}
.register .register-form .btn {
    background-image: linear-gradient(to top, #a20a4a, #dc3c50);
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    outline: 0;
}

/* END REGISTER PAGE  */
    /* END HOME PAGE  */
    /* START MEDIA */
    @media (max-width:991px) {
        .navbar .img {margin: 15px 0;}
    }
    @media (min-width :992px ){
        /* .navbar .dropdown{margin: 0 30px;} */
        /* .form-edit .form-control{margin: 0 40px;} */
        /* .navbar .navbar-brand{margin: 0  2rem;} */
        .meal-details .icon p{font-size: 35px ;}
        .information .rating .rating-details ul{margin: 15px 0;}
        .search-restaurant .card {
            flex-direction: row;
            width: 28rem;
            height: 14rem;
        }
}





